*{
 margin: 50px;
 
}
Button{
    margin: 10px;
}
 .Search-bar{
    margin: 10px;
    margin-top: 20px;
    margin-left: 60px;
    width: 280px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px; 
 }
 h1{
    margin: 30px;
 }